body {
background-color: #000;
border-radius: 20px;
padding: 5px;
display: flex;
justify-content: space-between;
}

/* Стили для секций в header */
.sections {
display: flex;
}

/* Стили для ссылок в секциях */
.sections a {
text-decoration: none;
color: #444;
padding: 10px;
display: inline-block;
}

.sections a:hover {
background-color: #111;
border-radius: 20px;
}


/* Стили для dropdown */
.sections .dropdown {
position: relative;
display: inline-block;
}

/* Стили для меню категорий */
.sections .dropdown .category {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #000;
border-radius: 20px;
padding: 5px;
margin: 0;
list-style: none;
z-index: 1;
flex-direction: column;
}

.sections .dropdown:hover .category {
display: flex;
}

/* Стили для элементов списка категорий */
.category li {
display: block;
}

.category li:hover {
background-color: #111;
border-radius: 20px;
}

/* Стили для ссылок в категориях */
.category a {
padding: 10px 15px;
text-decoration: none;
display: block;
color: #333;
white-space: nowrap;
}
